# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Node / JS artifacts
node_modules/
package-lock.json
eslint.config.mjs
postcss.config.mjs

# testing
coverage/

# next.js / Vercel
.next/
out/
.vercel

# Byte-compiled / Python / Virtual environments
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv
.vscode/
.idea/
.DS_Store
